{{ form_start(form) }}
    <div class="flex flex-col pt-4">
        {{ form_label(form.username, 'Your E-mail', {'attr': {'class': 'text-lg'}}) }}
        {{ form_widget(form.username, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="flex flex-col pt-4">
        {{ form_label(form.password, 'Your password', {'attr': {'class': 'text-lg'}})  }}
        {{ form_widget(form.password, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(form.password) }}
    </div>

    <input type="submit" value="Log In" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 rounded">

    {{ form_rest(form) }}
{{ form_end(form) }}