<turbo-stream action="update" target="login_form">
    <template>
        {% include 'login/_login_form.html.twig' with {
            form: form,
        } only %}
    </template>
</turbo-stream>
<turbo-stream action="prepend" target="login_form">
    <template>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">An error occur.</strong>
        </div>
    </template>
</turbo-stream>