{% extends 'base_login.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="w-full md:w-1/2 flex flex-col">

    <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
        <a href="#" class="bg-white text-black font-bold text-xl p-4"><img src="https://timeshit.proglab.com/images/timeshit_logo.png"></a>
    </div>

    <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
        <p class="text-center text-3xl">{{ 'Identify you.'|trans }}</p>
        <turbo-frame id="login_form">
            {% include 'login/_login_form.html.twig' with {
                form: form,
            } only %}
        </turbo-frame>
            <div class="text-center pt-12 pb-12">
                <p>Don't have an account? <a href="register.html" class="underline font-semibold">Register here.</a></p>
                <p>Forgot your password? <a href="register.html" class="underline font-semibold">Retrieve it here.</a></p>
            </div>
    </div>

</div>
{% endblock %}
