<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="/build/icons/icon-192x192.png">
        <meta name="author" content="Proglab">
        <meta name="description" content="PWA test">
        <!-- WPA -->
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" href="/build/icons/icon-192x192.png">
        <meta name="apple-mobile-web-app-status-bar" content="black">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="black">

        <!-- Tailwind -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

            .font-family-karla {
                font-family: karla;
            }
        </style>
    </head>
    <body class="bg-white font-family-karla h-screen" id="body">
        <turbo-frame id="body">
            <div class="w-full flex flex-wrap">
                {% block body %}{% endblock %}
                <div class="w-1/2 shadow-2xl">
                    <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
                </div>
            </div>

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </turbo-frame>
    </body>
</html>
